body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#intro > * {
  max-width: 50%;
}

a:link {
  color: #3498db;
}
a:visited {
  color: #9b59b6;
}

#map {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
