html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

#intro {
  overflow: scroll;
  z-index: 1000;
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  margin-top: -50px;
  padding-top: 50px;
}

.shown {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hidden {
  width: 0;
  height: 0;
  opacity: 0;
}

.in-anim {
  transition:
    width 0s,
    height 0s,
    opacity 0.5s;
}
.out-anim {
  transition:
    width 0s 0.5s,
    height 0s 0.5s,
    opacity 0.5s;
}

#vote-header {
  width: calc(100vw - 2*16px);
  z-index: 1001;
  padding: 16px;
  margin: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgba(0,0,0,0) 0px, rgb(0,0,0) 18px);
  transition:
    padding 0.5s;
}
#vote-header.intro {
  padding-top: 10%;
}

#vote-header.intro > #info-btn,
#vote-header.out-anim > #info-btn {
  display: none;
}

#info-btn {
  font-size: 12pt;
  padding-bottom: 5px;
  color: #9c9c9c;
  cursor: pointer;
}

@media screen and (min-height: 900px) {
  #intro {
    justify-content: center;
  }
}

@media screen and (max-width: 850px) {
  #intro > * {
    margin: 16px 20px;
  }
}
@media screen and (min-width: 850px) {
  #intro > * {
    max-width: 50%;
  }
}

a:link {
  color: #3498db;
}
a:visited {
  color: #9b59b6;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.dismiss {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  width: 30%;
  border-radius: 5px;
  padding: 5px;
  margin: 0px;
  background-color: #e74c3c;
  cursor: pointer;
}

.disclaimer {
  font-size: 8pt;
  color: #9c9c9c;
}
