$background-color: orange;

$header-height: 120px;
$header-bg-color: #2582CE;

html{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

body{
  background: $background-color;
  position: relative;
  margin: 0;
  padding: $header-height 0 0 0;
  width: 100%;
  // height: 100%;

  font-size: 16px;
  color: black;
}


.section{
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
}
