#header{
  position: fixed;
  display: flex;
  width: 100%;
  height: $header-height;
  background: $header-bg-color;
  top: 0;

  z-index: 99;

  justify-content: flex-start;

  span {
    position: relative;
    display: block;
    width: 100px;
    margin-left: 10px;
  }
}
