$hero-width: 40vw;
$hero-bg-color: #2996FF;

$call-to-action-width: 60vw;

#landing{
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100vh;
  padding-top: $header-height;
  box-sizing: border-box;

  #hero-image{
    position: relative;
    display: flex;
    flex-flow: column;
    width: $hero-width;
    height: 100%;
    background: $hero-bg-color;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .img{
      position: relative;
      display: flex;
      background: url('./../assets/vote-hero-img.svg') no-repeat center;
      background-size: 80% 80%;
      width: 100%;
      height: 100%;
    }

    p{
      position: absolute;
      text-align: center;
      bottom: 20px;
    }

    .dollar-signs{
      position: absolute;
      display: flex;
      flex-flow: row nowrap;
      top: calc(90vh - 120px);

      height: 5vw;
      width: 10vw;

      .dollar-sign-icon{
        position: relative;
        display: block;
        height: 100%;
        width: 60px;
      }
    }
  }

  .scroll-indication{
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    z-index: 2;
  }

  .scroll-hero{
    display: none;
  }

  #call-to-action{
    position: relative;
    display: flex;
    flex-flow: column;
    background: white;
    width: $call-to-action-width;
    height: 100%;

    padding: 80px;
    box-sizing: border-box;

    p{
      font-size: 16px;
      font-size: 1.3em;
    }
  }
}


@media only screen and (max-width: 960px) {
  #landing {
    position: relative;
    display: block;
    flex-flow: column wrap;
    height: auto;

      #hero-image, #call-to-action{
        position: relative;
        display: flex;
        width: 100%;
        height: calc(100vh - 120px);
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
      }

      #hero-image{
        .img{
          background-attachment: fixed;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 60%;
          box-sizing: border-box;

          width: 100%;
          height: 100%;
        }

        p{
          position: absolute;
          text-align: center;
          bottom: 120px;
        }

        .dollar-signs{
          position: absolute;
          display: flex;
          flex-flow: row nowrap;

          top: calc(80vh - 120px);

          height: 10vw;
          width: 180px;

          .dollar-sign-icon{
            position: relative;
            display: block;
            height: 100%;
            width: 60px;
          }
        }
      }

      #call-to-action{
        p{
          font-size: 1.2em;
        }
      }

      .scroll-hero, .scroll-indication{
        position: absolute;
        display: flex;
        width: 60px;
        height: 60px;
        bottom: 30px;
        z-index: 2;
      }
  }

  .section{
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 120px);
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}
